* {
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
}

#divFormulario {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    padding: 20px;
}

#nuevoLibro{
    width: 50%;
    height: 30px;
    align-self: center;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
}

#formulario {
    display: none;
}

.labelTexto {
    display: block;
}

#display{
    background-color: lightpink;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100vh;
}